<p>Hey {email_recipient_name},</p>

<p>
  Recap time—a quick snapshot of how you've been using {brand_name}. Let's dive
  in:
</p>

<p>✨ Your Top 3 Prompts</p>

<p>
  {prompt_1}<br />
  {prompt_2}<br />
  {prompt_3}
</p>

<p>✨ Feedback Frenzy</p>

<p>
  You gave {pref_count} feedback on AI models—seems like you've got a good eye
  for quality responses.
</p>

<p>✨ Favorite Model</p>

<p>
  Your go-to AI this month was {model_name}. Looks like you two really vibe!
</p>

<p>✨ Credits Update</p>

<p>
  Received: {credits_received} credits<br />
  Cashed out: {credits_spent} credits
</p>

<p>
  Keep up the great work, and here's to another month of smarter chats and
  better AIs. Let us know if you have any questions or feedback!
</p>

<p>{signature}</p>

{confidentiality_footer}
