<div class="content">
  <p class="greeting">Hey {email_recipient_name}</p>

  <p>
    It's been a while since you created your {brand_name} account, but you
    haven't actually used the app yet.
  </p>

  <p>
    We'd love to learn what your first impression of Yupp is, what do you think
    of our onboarding flow?
  </p>

  <p>
    Anyways, using Yupp is easy! If you have any questions, please reply to this
    email!
  </p>

  <p>{yupp_link}</p>

  {signature}

  <hr />

  {confidentiality_footer}
</div>
