<div class="content">
  <p class="greeting">Hey {email_recipient_name}</p>

  <p>
    It's been a week since you created your {brand_name} account, but you
    haven't actually used the app yet.
  </p>

  <p>
    We'd love to learn what your first impression of {brand_name} is, what do
    you think of our onboarding flow?
  </p>

  <p>
    Anyways, using {brand_name} is easy! If you want a walkthrough, we're more
    than happy to show you.
  </p>

  {signature}

  <hr />

  {confidentiality_footer}
</div>
