<p>Hey {email_recipient_name},</p>

<p>
  It's been 5 weeks since we last saw you on {brand_name}. Just checking in to
  see if you're still around—your AI crew misses you!
</p>

<p>
  If you're still interested in using {brand_name}, we'd love to have you back!
  However, if you're not planning on using the app, we'll be deactivating your
  account in about a week's time. No big deal, just a heads up.
</p>
<p>
  We do this to minimize the surface area while we are in the early alpha phase
  of the product.
</p>

<p>
  Let us know if there's anything we can do to make {brand_name} work better for
  you.
</p>

{signature}
