<div class="content">
  <p class="greeting">Hey {email_recipient_name},</p>

  <p>Thanks for joining {brand_name}—we're stoked to have you on board.</p>

  <p>How's your experience been so far? Any feedback or questions for us?</p>

  <p>
    Also just a friendly reminder, {brand_name} is still in stealth mode. This
    means we're still keeping {brand_name} under wraps for now. Please keep your
    experience confidential and don't share details on social media (or
    elsewhere) just yet.
  </p>

  <p>Thanks for your cooperation!</p>

  {signature}

  <hr />

  {confidentiality_footer}
</div>
