<div class="content">
  <p class="greeting">Hey {email_recipient_name},</p>

  <p>
    It's been more than a week since you created your {brand_name} account, but
    you haven't used the app yet.
  </p>

  <p>
    Think of Yupp as a portal to the world's smartest AIs! All the new models
    you may have heard of like ChatGPT-o3-mini, DeepSeek-R1, Gemini-2.0 and 90+
    other models are on Yupp. If you want a walkthrough, we're more than happy
    to show you.
  </p>

  <p>{yupp_link}</p>

  {signature}

  <hr />

  {confidentiality_footer}
</div>
