<div class="content">
  <p>Hey {email_recipient_name},</p>

  <p>{referee_name} just joined you on {brand_name} with your invite code.</p>

  <p>
    Once they finish writing their first prompt and doing their first "I prefer
    this" feedback, you’ll be eligible to get the referral bonus of {credits}
    YUPP credits.
  </p>

  <p>
    Please continue to refer more of your friends by sharing
    <a href="{invite_code_link}">{invite_code_link}</a> with them!
  </p>

  <p>{signature}</p>

  <hr />

  {confidentiality_footer}
</div>
